@use 'sass:color';
// Font
$font-family-base: 'Source Sans Pro';
$font-family-accent: 'Inter';
$fontSize: 62.5%;
$black: #000;

// Границы адаптива ======================
$minWidth: 320px; // Указываем минимальный размер экрана
$maxWidth: 1440; // Указываем размер полотна
$maxWidthContainer: 1440; // Указываем размер ограничивающего контейнера

$md1: ($maxWidthContainer + 12) + px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

//<ОСНОВНАЯ СЕТКА>================================================================
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 32px;

    @media (max-width: $md1) {
        max-width: 1440px;
        padding: 0 32px;
    }
    @media (max-width: $md2) {
        max-width: 750px;
        padding: 0 15px;
    }
    @media (max-width: $md3) {
        max-width: none;
        padding: 0 10px;
    }
}
//===============================================================
$black: #1f2432;
$white: white;
$gray-txt: #797b86;
$blue: #0069b4;
$bgn: #f6f8fa;
$gray-arrow: #90a2b5;
$green: #7bae73;
$red: #ff8484;

$grey-color-light: color.adjust($gray-txt, $lightness: 15%, $space: hsl);
$grey-color-strong: color.adjust($gray-txt, $lightness: 45%, $space: hsl);
$bgn-color-darken: color.adjust($bgn, $lightness: -5%, $space: hsl);
